.main-content-container{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
html {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}
body {
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: left top;
}
.content-section {
    min-height: 100vh;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
    color: white;
}
#intro {
    background-image: url("../images/peyto_lake.jpg");
    padding-top: 15em;
}
#about {
    background-image: url("../images/fishing.jpg");
    padding-top: 10em;
}

@media only screen and (max-width: 375px) {
    #about {
        background-position: left;
    }
}
@media only screen and (max-width: 1234px) {
    #intro {
        background-image: url("../images/intro-small.jpg");
    }
}
#skills {
    background-image: url("../images/skills.jpg");
    padding-top: 8em;
}
#projects {
    background-image: linear-gradient(#212529 0%, #000000 100%);
    padding-top: 5em;
}
#contact {
    background-image: linear-gradient(#212529 0%, #000000 100%);
    padding-top: 5em;
}
.scroll-snap {
    scroll-snap-align: start;
}
.bottom {
    margin-top: auto !important;
}
.nav-link:hover {
    background-color: white;
    color: black !important;
}
.nav-link {
    text-align: center;
}
.text-box {
    max-width: 756px !important;
    margin: 0 auto;
    padding: 1em;
}
.text-box:hover {
    background-color: rgba(33, 37, 41, 0.8);
    border-radius: 1em;
}
.skill {
    background-color: rgba(33, 37, 41, 0.8);
    border-radius: 1em;
}
.skill > h3 {
    text-align: center;
}
.skill > ul {
    display: table;
    margin: 0 auto !important;
}
.project {
    background-color: rgb(50, 45, 45);
    min-height: 75vh;
}
.project-image {
    max-height: 50vh;
    object-fit: cover;
    object-position: center;
}
#flappybird {
    background-image: url("../images/flappybird.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.project-title {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25em !important;
    max-width: fit-content !important;
}
.modal-title {
    color: black;
}
.modal-body {
    color: black;
}
#contact-container {
    background-color: #212529;
    padding: 1em;
    border-radius: 1em;
    width: fit-content;
    margin: auto;
    max-height: 50vh;
}
@media screen and (max-width: 768px) {
    .offcanvas {
        max-width: 30% !important;
        min-width: fit-content;
    }
}
    

.no-link {
    text-decoration: none;
    color: white;
}
.no-link:hover {
    color: rgb(204, 204, 204);
}
#profile-picture {
    border-radius: 50%;
    max-height: 50vh;
}
.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.update {
    position: relative;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-top: 12em;
}
#arcade {
    background-image: url("../images/arcade.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#knight {
    background-image: url("../images/KnightofXylasia.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#website {
    background-image: url("../images/website.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1em;
    width:fit-content;
    margin: auto;
    padding: 1em;

}
